@tailwind base;
@tailwind components;
@tailwind utilities;


.App { /* Previously #root, ensuring it matches your React root class */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
    position: relative; /* This ensures that the absolute child is positioned relative to this parent */
  }
  
  /* Tailwind CSS */
html, body {
    height: 100%;
    margin: 0;
  }
  
  #root{ /* Adjust the .site-container to your root div if it's different */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1; /* This will push the footer to the bottom */
  }
  
  .footer { /* Ensures the footer aligns with your current Tailwind classes */
    background-color: #f3f4f6; /* bg-gray-200 */
    padding: 1.5rem; /* p-6 */
}